.bottom{
    margin: 150px 0 45px 0;
}
.bottom-block{
    display: flex;
    justify-content: space-between;
}
.bottom-logo{
    margin-bottom: 30px;
}
.bottom-links{
    display: flex;
    justify-content: space-between;
}
.bottom-links a{
    font-size: 28px;
    color: #02897A;
}
.table-bottom{
    text-align: left;
    margin: 0 50px;
}
table{
    width: 200%;
    color: #22343D;
}
td, th{
    padding-bottom: 5px;
}
th{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
td{
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
}
tr a{
    color: #22343D;
}
.last-one{
    display: block;
}
.bottom-info{
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
}
.b-input{
    display: block;
    margin: 34px 0 30px 0;
    height: 48px;
    width: 325px;
    font-size: 16px;
}
.bottom-btn{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 15px;
    background: #02897A;
    border-radius: 4px;
    border: 1px solid #BCD0E5;

}
.bottom-btn:hover{
    color: #02897A;
    background-color: #FFFFFF;
    cursor: pointer;
}
.bottom-information{
    margin-top: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #22343D;
    text-align: center;
}