.management{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.management-text{
    margin-right: 100px;
    color: #22343D;
}
.m1{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 19px 0 8px 0;
}
.m2{
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 131px;
}
.m3, .m5{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 12px;
}
.m4, .m6{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 25px;
}
